.container {
    margin: 50px 0;
}

.card {
    margin: 0 2% !important;
}

.positive {
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.neutral {
    border-bottom: 10px solid rgba(255, 255, 0, 0.5);
}

.negative {
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}